fastapi
uvicorn
pydantic
sqlalchemy
python-multipart
httpx
pyjwt
alembic
python-dotenv
PyMuPDF==1.26.1
langchain==0.3.27
langchain-ollama==0.3.6
langchain-chroma==0.2.6
langchain-text-splitters==0.3.11
chromadb
pytest
